*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(214, 13, 40)
}
.display-n{
  display: none;
}
body{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
.pd-10{
  padding: 0 10px;
}
.wrap{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 99;
}

.top-header{
background-color: #eee;
display: flex;
justify-content: space-between;
padding: 5px 60px;
font-size: 0.9rem;
}

.bottom-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  background-color: #fff;
  
}

main{

}

.hotline{
color: red;
font-weight: 600;
}

.logo{
width: 5%;
padding-right: 10px;
}

.logo img{ 
  width: 100%;
}

.search{
flex: 1;
display: flex;
background-color: #fff;
border-radius: 5px;
overflow: hidden;
margin: 0 20px;
}
.icon-search{
  font-size: 20px;
  padding: 8px;
  background-color: #eee;
  cursor: pointer;
}
.search-input{
  width: 100%;
  padding: 10px 5px;
  border: none;
  outline-color: rgb(221, 137, 26);
  background-color: #eee;
}
.header-list{
  font-size: 1.1rem;
  font-weight: 600;
}

.header-item{
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.header-item:hover{
  cursor: pointer;
  color: rgb(214, 13, 40);
}

.header-item:hover li{
  display: block;
  cursor: pointer;
}
.header-item a{
  text-decoration: none;
  color: inherit;
}
.icon-user,.icon-cart{
font-size: 1.3rem;
}

.menu-child{
  list-style: none;
  position: absolute;
  background-color: #fff;
  top: 150%;
  left: 0;
  color: #000;
}

.menu-child::before{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: relative;
  top: -20px;
}

.menu-child-list{
  min-width: 150px;
  padding: 10px;
  line-height: 20px;
  display: none;
  border-bottom:1px solid rgb(211, 204, 204);
}

.menu-child-list:hover{
    color: rgb(214, 13, 40);
}
/* Slider */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/*  */
.mySlides {
  display: none;
}
/* дизайн кнопки со стрелкой*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/*  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* эффект изменения фона при наведении на кнопку*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* стиль для элемента слайд-шоу */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* стиль для отображения номера элемента */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* стиль кнопки управления*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* затухание */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Container */

.container{
  padding: 40px 0;
}
.title{
  font-weight: bold !important;
  word-spacing: 5px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0 40px 0;
}
.title:hover{
  color: var(--primary-color);
}

.product-list{
  display: flex;
  flex-wrap: wrap;
}
.product{
  padding: 0 10px;
}
.banner{
  width: 50%;
  height: auto;
}

.banner:hover{
  transform: scale(1.011);
 opacity: 0.8;
 cursor: pointer;
}

.product-img{
  width: 100%;
  border-radius: 15px;
}

.product-item{
  width: 25%;
  padding-left: 25px;
  font-size: 1.1rem;
 margin-bottom: 40px;
}
.name-product a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.product-item .name-product:hover a {
  color: var(--primary-color);
  cursor: pointer;
}

.star{
  font-size: 15px;
  color: yellow;

}



.img-product{
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.product-item:hover .overlay{
  opacity: 1;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  border-radius: 15px;
  opacity: 0;
  transition: .3s ease;
}

/* Footer */

.footer{
  max-width: 100%;
  padding: 30px 10px;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  color: #080808;
}

.footer-title{
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.block-footer{
  flex: 1;
  margin-left: 10px;
}
.block-footer p {
  line-height: 1.4rem;
}
